<h2>Celebrities list</h2>
<a href="/celebrities/create">Create a Celebrity</a>
<br>
<a href="/celebrities">Celebrities list</a>
<br>
<a href="/">Home</a>
{{#each celebrity}}
<br>
{{this.name}}
<hr>
{{/each}}